[submodule "seed_gathering/tree-sitter-python"]
	path = seed_gathering/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "src/star_align/code_exec_server"]
	path = src/star_align/code_exec_server
	url = git@github.com:cassanof/code_exec_server
